@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
.container {
  max-width: 102rem;
  margin: 0 auto;
  padding: 0 3.2rem 0 8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/*1. GRAY*/
.bg-gray-00 {
  background-color: #f8f9fa;
}

.bg-gray-02 {
  background-color: #e9ecef;
}

.bg-gray-04 {
  background-color: #ced4da;
}

.bg-gray-05 {
  background-color: #adb5bd;
}

.bg-gray-07 {
  background-color: #495057;
}

.bg-gray-09 {
  background-color: #212529;
}

.bg-red-00 {
  background-color: #fff5f5;
}

.bg-red-02 {
  background-color: #ffc9c9;
}

.bg-red-04 {
  background-color: #ff8787;
}

.bg-red-05 {
  background-color: #ff6b6b;
}

.bg-red-07 {
  background-color: #f03e3e;
}

.bg-red-09 {
  background-color: #c92a2a;
}

.bg-pink-00 {
  background-color: #fff0f6;
}

.bg-pink-02 {
  background-color: #fcc2d7;
}

.bg-pink-04 {
  background-color: #f783ac;
}

.bg-pink-05 {
  background-color: #f06595;
}

.bg-pink-07 {
  background-color: #d6336c;
}

.bg-pink-09 {
  background-color: #a61e4d;
}

.bg-grape-00 {
  background-color: #f8f0fc;
}

.bg-grape-02 {
  background-color: #eebefa;
}

.bg-grape-04 {
  background-color: #da77f2;
}

.bg-grape-05 {
  background-color: #cc5de8;
}

.bg-grape-07 {
  background-color: #ae3ec9;
}

.bg-grape-09 {
  background-color: #862e9c;
}

.bg-magenta-00 {
  background-color: #f8f0fc;
}

.bg-magenta-02 {
  background-color: #eebefa;
}

.bg-magenta-04 {
  background-color: #da77f2;
}

.bg-magenta-05 {
  background-color: #cc5de8;
}

.bg-magenta-07 {
  background-color: #ae3ec9;
}

.bg-magenta-09 {
  background-color: #862e9c;
}

.bg-fuchsia-00 {
  background-color: #f8f0fc;
}

.bg-fuchsia-02 {
  background-color: #eebefa;
}

.bg-fuchsia-04 {
  background-color: #da77f2;
}

.bg-fuchsia-05 {
  background-color: #cc5de8;
}

.bg-fuchsia-07 {
  background-color: #ae3ec9;
}

.bg-fuchsia-09 {
  background-color: #862e9c;
}

.bg-violet-00 {
  background-color: #f3f0ff;
}

.bg-violet-02 {
  background-color: #d0bfff;
}

.bg-violet-04 {
  background-color: #9775fa;
}

.bg-violet-05 {
  background-color: #845ef7;
}

.bg-violet-07 {
  background-color: #6D28D9;
}

.bg-violet-09 {
  background-color: #4C1D95;
}

.bg-purple-00 {
  background-color: #f3f0ff;
}

.bg-purple-02 {
  background-color: #d0bfff;
}

.bg-purple-04 {
  background-color: #9775fa;
}

.bg-purple-05 {
  background-color: #845ef7;
}

.bg-purple-07 {
  background-color: #7048e8;
}

.bg-purple-09 {
  background-color: #5f3dc4;
}

.bg-blue-00 {
  background-color: #e7f5ff;
}

.bg-blue-02 {
  background-color: #a5d8ff;
}

.bg-blue-04 {
  background-color: #4dabf7;
}

.bg-blue-05 {
  background-color: #339af0;
}

.bg-blue-07 {
  background-color: #1c7ed6;
}

.bg-blue-09 {
  background-color: #1864ab;
}

.bg-cyan-00 {
  background-color: #e3fafc;
}

.bg-cyan-02 {
  background-color: #99e9f2;
}

.bg-cyan-04 {
  background-color: #3bc9db;
}

.bg-cyan-05 {
  background-color: #22b8cf;
}

.bg-cyan-07 {
  background-color: #1098ad;
}

.bg-cyan-09 {
  background-color: #0b7285;
}

.bg-teal-00 {
  background-color: #e6fcf5;
}

.bg-teal-02 {
  background-color: #96f2d7;
}

.bg-teal-04 {
  background-color: #38d9a9;
}

.bg-teal-05 {
  background-color: #20c997;
}

.bg-teal-07 {
  background-color: #0ca678;
}

.bg-teal-09 {
  background-color: #087f5b;
}

.bg-green-00 {
  background-color: #ebfbee;
}

.bg-green-02 {
  background-color: #b2f2bb;
}

.bg-green-04 {
  background-color: #69db7c;
}

.bg-green-05 {
  background-color: #51cf66;
}

.bg-green-07 {
  background-color: #37b24d;
}

.bg-green-09 {
  background-color: #2b8a3e;
}

.bg-yellow-00 {
  background-color: #fff9db;
}

.bg-yellow-02 {
  background-color: #ffec99;
}

.bg-yellow-04 {
  background-color: #ffd43b;
}

.bg-yellow-05 {
  background-color: #fcc419;
}

.bg-yellow-07 {
  background-color: #f59f00;
}

.bg-yellow-09 {
  background-color: #e67700;
}

.bg-orange-00 {
  background-color: #fff4e6;
}

.bg-orange-02 {
  background-color: #ffd8a8;
}

.bg-orange-04 {
  background-color: #ffa94d;
}

.bg-orange-05 {
  background-color: #ff922b;
}

.bg-orange-07 {
  background-color: #f76707;
}

.bg-orange-09 {
  background-color: #d9480f;
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

/*1. GRAY*/
.gray-00 {
  color: #f8f9fa;
}

.gray-02 {
  color: #e9ecef;
}

.gray-04 {
  color: #ced4da;
}

.gray-05 {
  color: #adb5bd;
}

.gray-07 {
  color: #495057;
}

.gray-09 {
  color: #212529;
}

.red-00 {
  color: #fff5f5;
}

.red-02 {
  color: #ffc9c9;
}

.red-04 {
  color: #ff8787;
}

.red-05 {
  color: #ff6b6b;
}

.red-07 {
  color: #f03e3e;
}

.red-09 {
  color: #c92a2a;
}

.pink-00 {
  color: #fff0f6;
}

.pink-02 {
  color: #fcc2d7;
}

.pink-04 {
  color: #f783ac;
}

.pink-05 {
  color: #f06595;
}

.pink-07 {
  color: #d6336c;
}

.pink-09 {
  color: #a61e4d;
}

.grape-00 {
  color: #f8f0fc;
}

.grape-02 {
  color: #eebefa;
}

.grape-04 {
  color: #da77f2;
}

.grape-05 {
  color: #cc5de8;
}

.grape-07 {
  color: #ae3ec9;
}

.grape-09 {
  color: #862e9c;
}

.magenta-00 {
  color: #f8f0fc;
}

.magenta-02 {
  color: #eebefa;
}

.magenta-04 {
  color: #da77f2;
}

.magenta-05 {
  color: #cc5de8;
}

.magenta-07 {
  color: #ae3ec9;
}

.magenta-09 {
  color: #862e9c;
}

.fuchsia-00 {
  color: #f8f0fc;
}

.fuchsia-02 {
  color: #eebefa;
}

.fuchsia-04 {
  color: #da77f2;
}

.fuchsia-05 {
  color: #cc5de8;
}

.fuchsia-07 {
  color: #ae3ec9;
}

.fuchsia-09 {
  color: #862e9c;
}

.violet-00 {
  color: #f3f0ff;
}

.violet-02 {
  color: #d0bfff;
}

.violet-04 {
  color: #9775fa;
}

.violet-05 {
  color: #845ef7;
}

.violet-07 {
  color: #6D28D9;
}

.violet-09 {
  color: #4C1D95;
}

.purple-00 {
  color: #f3f0ff;
}

.purple-02 {
  color: #d0bfff;
}

.purple-04 {
  color: #9775fa;
}

.purple-05 {
  color: #845ef7;
}

.purple-07 {
  color: #7048e8;
}

.purple-09 {
  color: #5f3dc4;
}

.blue-00 {
  color: #e7f5ff;
}

.blue-02 {
  color: #a5d8ff;
}

.blue-04 {
  color: #4dabf7;
}

.blue-05 {
  color: #339af0;
}

.blue-07 {
  color: #1c7ed6;
}

.blue-09 {
  color: #1864ab;
}

.cyan-00 {
  color: #e3fafc;
}

.cyan-02 {
  color: #99e9f2;
}

.cyan-04 {
  color: #3bc9db;
}

.cyan-05 {
  color: #22b8cf;
}

.cyan-07 {
  color: #1098ad;
}

.cyan-09 {
  color: #0b7285;
}

.teal-00 {
  color: #e6fcf5;
}

.teal-02 {
  color: #96f2d7;
}

.teal-04 {
  color: #38d9a9;
}

.teal-05 {
  color: #20c997;
}

.teal-07 {
  color: #0ca678;
}

.teal-09 {
  color: #087f5b;
}

.green-00 {
  color: #ebfbee;
}

.green-02 {
  color: #b2f2bb;
}

.green-04 {
  color: #69db7c;
}

.green-05 {
  color: #51cf66;
}

.green-07 {
  color: #37b24d;
}

.green-09 {
  color: #2b8a3e;
}

.yellow-00 {
  color: #fff9db;
}

.yellow-02 {
  color: #ffec99;
}

.yellow-04 {
  color: #ffd43b;
}

.yellow-05 {
  color: #fcc419;
}

.yellow-07 {
  color: #f59f00;
}

.yellow-09 {
  color: #e67700;
}

.orange-00 {
  color: #fff4e6;
}

.orange-02 {
  color: #ffd8a8;
}

.orange-04 {
  color: #ffa94d;
}

.orange-05 {
  color: #ff922b;
}

.orange-07 {
  color: #f76707;
}

.orange-09 {
  color: #d9480f;
}

.bd-rd-05 {
  border-radius: 0.5rem;
}

.bd-rd-10 {
  border-radius: 1rem;
}

.bd-rd-15 {
  border-radius: 1.5rem;
}

.bd-rd-50p {
  border-radius: 50%;
}

.tx-dn-0 {
  text-decoration: none;
}

bd-inside {
  box-shadow: inset 0 0 0 3px #fff;
}

.bd-bm-1 {
  border-bottom: 1px solid black;
}

.bd-tp-1 {
  border-top: 1px solid black;
}

.bd-rt-1 {
  border-right: 1px solid black;
}

.heading-one, .heading-two, .heading-three {
  font-family: "Oswald", sans-serif;
  color: #e5344b;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: normal;
}

.heading-one {
  margin-top: -6.4rem;
  font-size: 4rem;
  background-color: #e9b81e;
  display: inline-block;
  width: 62rem;
  padding: 4rem 0 4rem 8rem;
}

.heading-two {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.heading-three {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.display-block {
  display: block;
}

.display-i-block {
  display: inline-block;
}

/*
.grid {
  display: grid;
  gap: 9.6rem; //applies both to row and column
}*/
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-center-v {
  align-items: center;
}

.grid-self-center {
  align-self: center;
}

.display-flex {
  display: flex;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-order-0 {
  order: 0;
}

.flex-order-1 {
  order: 1;
}

.flex-order-neg-1 {
  order: -1;
}

.flex-70p {
  flex-basis: 70%;
}

.flex-65p {
  flex-basis: 65%;
}

.flex-60p {
  flex-basis: 60%;
}

.flex-50p {
  flex-basis: 50%;
}

.flex-40p {
  flex-basis: 40%;
}

.flex-35p {
  flex-basis: 35%;
}

.flex-30p {
  flex-basis: 30%;
}

.flex-center-v {
  align-items: center;
}

.flex-center-h {
  justify-content: center;
}

.display-flex-center-both {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wd-100p {
  width: 100%;
}

.wd-90p {
  width: 90%;
}

.wd-80p {
  width: 80%;
}

.wd-70p {
  width: 70%;
}

.wd-60p {
  width: 60%;
}

.wd-50p {
  width: 50%;
}

.wd-40p {
  width: 40%;
}

.wd-35p {
  width: 35%;
}

.wd-30p {
  width: 30%;
}

.wd-0 {
  width: 0;
}

.wd-2 {
  width: 0.2rem;
}

.wd-4 {
  width: 0.4rem;
}

.wd-8 {
  width: 0.8rem;
}

.wd-12 {
  width: 1.2rem;
}

.wd-16 {
  width: 1.6rem;
}

.wd-24 {
  width: 2.4rem;
}

.wd-32 {
  width: 3.2rem;
}

.wd-48 {
  width: 4.8rem;
}

.wd-64 {
  width: 6.4rem;
}

.wd-80 {
  width: 8rem;
}

.wd-96 {
  width: 9.6rem;
}

.wd-120 {
  width: 12rem;
}

.wd-160 {
  width: 16rem;
}

.wd-240 {
  width: 24rem;
}

.wd-320 {
  width: 32rem;
}

.wd-480 {
  width: 48rem;
}

.wd-640 {
  width: 64rem;
}

.wd-800 {
  width: 80rem;
}

.wd-960 {
  width: 96rem;
}

.mg-center {
  margin: 0 auto;
}

.ht-0 {
  height: 0;
}

.ht-2 {
  height: 0.2rem;
}

.ht-4 {
  height: 0.4rem;
}

.ht-8 {
  height: 0.8rem;
}

.ht-12 {
  height: 1.2rem;
}

.ht-16 {
  height: 1.6rem;
}

.ht-24 {
  height: 2.4rem;
}

.ht-32 {
  height: 3.2rem;
}

.ht-48 {
  height: 4.8rem;
}

.ht-64 {
  height: 6.4rem;
}

.ht-80 {
  height: 8rem;
}

.ht-96 {
  height: 9.6rem;
}

.page-link:link,
.page-link:visited {
  color: #0e3c68;
}

/*FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98*/
.font-size-10 {
  font-size: 1rem;
}

.font-size-12 {
  font-size: 1.2rem;
}

.font-size-14 {
  font-size: 1.4rem !important;
}

.font-size-16 {
  font-size: 1.6rem;
}

.font-size-18 {
  font-size: 1.8rem;
}

.font-size-20 {
  font-size: 2rem;
}

.font-size-24 {
  font-size: 2.4rem;
}

.font-size-30 {
  font-size: 3rem;
}

.font-size-36 {
  font-size: 3.6rem;
}

.font-size-44 {
  font-size: 4.4rem;
}

.font-size-52 {
  font-size: 5.2rem;
}

.font-size-62 {
  font-size: 6.2rem;
}

.font-size-74 {
  font-size: 7.4rem;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.line-height-10 {
  line-height: 1;
}

.line-height-11 {
  line-height: 1.1;
}

.line-height-12 {
  line-height: 1.2;
}

.line-height-13 {
  line-height: 1.3;
}

.line-height-14 {
  line-height: 1.4;
}

.line-height-16 {
  line-height: 1.6;
}

.line-height-17 {
  line-height: 1.7;
}

.line-height-18 {
  line-height: 1.8;
}

.letter-space-05 {
  letter-spacing: 0.5px;
}

.letter-space-075 {
  letter-spacing: 0.75px;
}

.letter-space-1 {
  letter-spacing: 1px;
}

.letter-space-2 {
  letter-spacing: 2px;
}

.letter-space-3 {
  letter-spacing: 3px;
}

.letter-space-4 {
  letter-spacing: 4px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-none {
  text-transform: none;
}

.default-para {
  font-family: "Raleway", sans-serif;
}

.para {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
}

.unordered-list {
  font-family: "Raleway", sans-serif;
  list-style: none;
  font-size: 1.6rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.unordered-list li {
  margin-bottom: 1rem;
  display: flex;
}

.list-style {
  font-size: 2rem;
  padding-right: 1rem;
  color: #e5344b;
}

.quote {
  color: #e5344b !important;
  font-size: 4.4rem !important;
  line-height: 0.7 !important;
}

/*SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128*/
.gap-0 {
  gap: 0;
}

.gap-2 {
  gap: 0.2rem;
}

.gap-4 {
  gap: 0.4rem;
}

.gap-8 {
  gap: 0.8rem;
}

.gap-12 {
  gap: 1.2rem;
}

.gap-16 {
  gap: 1.6rem;
}

.gap-24 {
  gap: 2.4rem;
}

.gap-32 {
  gap: 3.2rem;
}

.gap-48 {
  gap: 4.8rem;
}

.gap-64 {
  gap: 6.4rem;
}

.gap-80 {
  gap: 8rem;
}

.gap-96 {
  gap: 9.6rem;
}

/*
\\mg margin This apply to all sides top, bottom, right and left
*/
.mg-0 {
  margin: 0;
}

.mg-2 {
  margin: 0.2rem;
}

.mg-4 {
  margin: 0.4rem;
}

.mg-8 {
  margin: 0.8rem;
}

.mg-12 {
  margin: 1.2rem;
}

.mg-16 {
  margin: 1.6rem;
}

.mg-24 {
  margin: 2.4rem;
}

.mg-32 {
  margin: 3.2rem;
}

.mg-48 {
  margin: 4.8rem;
}

.mg-64 {
  margin: 6.4rem;
}

.mg-80 {
  margin: 8rem;
}

.mg-96 {
  margin: 9.6rem;
}

\\mg-rt margin-right .mg-rt-0 {
  margin-right: 0;
}

.mg-rt-2 {
  margin-right: 0.2rem;
}

.mg-rt-4 {
  margin-right: 0.4rem;
}

.mg-rt-8 {
  margin-right: 0.8rem;
}

.mg-rt-12 {
  margin-right: 1.2rem;
}

.mg-rt-16 {
  margin-right: 1.6rem;
}

.mg-rt-24 {
  margin-right: 2.4rem;
}

.mg-rt-32 {
  margin-right: 3.2rem;
}

.mg-rt-48 {
  margin-right: 4.8rem;
}

.mg-rt-64 {
  margin-right: 6.4rem;
}

.mg-rt-80 {
  margin-right: 8rem;
}

.mg-rt-96 {
  margin-right: 9.6rem;
}

\\mg-lt margin-left .mg-lt-0 {
  margin-left: 0;
}

.mg-lt-2 {
  margin-left: 0.2rem;
}

.mg-lt-4 {
  margin-left: 0.4rem;
}

.mg-lt-8 {
  margin-left: 0.8rem;
}

.mg-lt-12 {
  margin-left: 1.2rem;
}

.mg-lt-16 {
  margin-left: 1.6rem;
}

.mg-lt-24 {
  margin-left: 2.4rem;
}

.mg-lt-32 {
  margin-left: 3.2rem;
}

.mg-lt-48 {
  margin-left: 4.8rem;
}

.mg-lt-64 {
  margin-left: 6.4rem;
}

.mg-lt-80 {
  margin-left: 8rem;
}

.mg-lt-96 {
  margin-left: 9.6rem;
}

\\mg-tp margin-top .mg-tp-0 {
  margin-top: 0;
}

.mg-tp-2 {
  margin-top: 0.2rem;
}

.mg-tp-4 {
  margin-top: 0.4rem;
}

.mg-tp-8 {
  margin-top: 0.8rem;
}

.mg-tp-12 {
  margin-top: 1.2rem;
}

.mg-tp-16 {
  margin-top: 1.6rem;
}

.mg-tp-24 {
  margin-top: 2.4rem;
}

.mg-tp-32 {
  margin-top: 3.2rem;
}

.mg-tp-48 {
  margin-top: 4.8rem;
}

.mg-tp-64 {
  margin-top: 6.4rem;
}

.mg-tp-80 {
  margin-top: 8rem;
}

.mg-tp-96 {
  margin-top: 9.6rem;
}

\\mg-bm margin-bottom .mg-bm-0 {
  margin-bottom: 0;
}

.mg-bm-2 {
  margin-bottom: 0.2rem;
}

.mg-bm-4 {
  margin-bottom: 0.4rem;
}

.mg-bm-8 {
  margin-bottom: 0.8rem;
}

.mg-bm-12 {
  margin-bottom: 1.2rem;
}

.mg-bm-16 {
  margin-bottom: 1.6rem;
}

.mg-bm-24 {
  margin-bottom: 2.4rem;
}

.mg-bm-32 {
  margin-bottom: 3.2rem;
}

.mg-bm-48 {
  margin-bottom: 4.8rem;
}

.mg-bm-64 {
  margin-bottom: 6.4rem;
}

.mg-bm-80 {
  margin-bottom: 8rem;
}

.mg-bm-96 {
  margin-bottom: 9.6rem;
}

/*
\\pd padding This applies to all sides top, bottom, right and left
*/
.pd-0 {
  padding: 0;
}

.pd-2 {
  padding: 0.2rem;
}

.pd-4 {
  padding: 0.4rem;
}

.pd-8 {
  padding: 0.8rem;
}

.pd-12 {
  padding: 1.2rem;
}

.pd-16 {
  padding: 1.6rem;
}

.pd-24 {
  padding: 2.4rem;
}

.pd-32 {
  padding: 3.2rem;
}

.pd-48 {
  padding: 4.8rem;
}

.pd-64 {
  padding: 6.4rem;
}

.pd-80 {
  padding: 8rem;
}

.pd-96 {
  padding: 9.6rem;
}

\\pd-rt padding-right .pd-rt-0 {
  padding-right: 0;
}

.pd-rt-2 {
  padding-right: 0.2rem;
}

.pd-rt-4 {
  padding-right: 0.4rem;
}

.pd-rt-8 {
  padding-right: 0.8rem;
}

.pd-rt-12 {
  padding-right: 1.2rem;
}

.pd-rt-16 {
  padding-right: 1.6rem;
}

.pd-rt-24 {
  padding-right: 2.4rem;
}

.pd-rt-32 {
  padding-right: 3.2rem;
}

.pd-rt-48 {
  padding-right: 4.8rem;
}

.pd-rt-64 {
  padding-right: 6.4rem;
}

.pd-rt-80 {
  padding-right: 8rem;
}

.pd-rt-96 {
  padding-right: 9.6rem;
}

\\pd-lt padding-left .pd-lt-0 {
  padding-left: 0;
}

.pd-lt-2 {
  padding-left: 0.2rem;
}

.pd-lt-4 {
  padding-left: 0.4rem;
}

.pd-lt-8 {
  padding-left: 0.8rem;
}

.pd-lt-12 {
  padding-left: 1.2rem;
}

.pd-lt-16 {
  padding-left: 1.6rem;
}

.pd-lt-24 {
  padding-left: 2.4rem;
}

.pd-lt-32 {
  padding-left: 3.2rem;
}

.pd-lt-48 {
  padding-left: 4.8rem;
}

.pd-lt-64 {
  padding-left: 6.4rem;
}

.pd-lt-80 {
  padding-left: 8rem;
}

.pd-lt-96 {
  padding-left: 9.6rem;
}

\\pd-tp padding-top .pd-tp-0 {
  padding-top: 0;
}

.pd-tp-2 {
  padding-top: 0.2rem;
}

.pd-tp-4 {
  padding-top: 0.4rem;
}

.pd-tp-8 {
  padding-top: 0.8rem;
}

.pd-tp-12 {
  padding-top: 1.2rem;
}

.pd-tp-16 {
  padding-top: 1.6rem;
}

.pd-tp-24 {
  padding-top: 2.4rem;
}

.pd-tp-32 {
  padding-top: 3.2rem;
}

.pd-tp-48 {
  padding-top: 4.8rem;
}

.pd-tp-64 {
  padding-top: 6.4rem;
}

.pd-tp-80 {
  padding-top: 8rem;
}

.pd-tp-96 {
  padding-top: 9.6rem;
}

\\pd-bm padding-bottom .pd-bm-0 {
  padding-bottom: 0;
}

.pd-bm-2 {
  padding-bottom: 0.2rem;
}

.pd-bm-4 {
  padding-bottom: 0.4rem;
}

.pd-bm-8 {
  padding-bottom: 0.8rem;
}

.pd-bm-12 {
  padding-bottom: 1.2rem;
}

.pd-bm-16 {
  padding-bottom: 1.6rem;
}

.pd-bm-24 {
  padding-bottom: 2.4rem;
}

.pd-bm-32 {
  padding-bottom: 3.2rem;
}

.pd-bm-48 {
  padding-bottom: 4.8rem;
}

.pd-bm-64 {
  padding-bottom: 6.4rem;
}

.pd-bm-80 {
  padding-bottom: 8rem;
}

.pd-bm-96 {
  padding-bottom: 9.6rem;
}

/*******************************/
/**HEADER**/
/*******************************/
.header, .footer {
  max-width: 102rem;
  margin: 0 auto;
}

.logo {
  width: 100%;
}

/*******************************/
/**NAVIGATION**/
/*******************************/
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.hero {
  max-width: 102rem;
  margin: 0 auto;
}

.hero-2 {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.para-2 {
  font-family: "Cardo", serif;
  font-style: italic;
  margin-top: 3.2rem;
}

.para-3 {
  font-family: "Cardo", serif;
  margin-top: 3.2rem;
  font-weight: bold;
}

.heading-primary {
  font-weight: 700;
  line-height: 1.3;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: background-color 0.3s;
}

.btn-full:link,
.btn-full:visited {
  color: #fff;
  background-color: #e67e22;
}

.btn-full:hover,
.btn-full:active {
  background-color: #cf711f;
}

.btn-outline:link,
.btn-outline:visited {
  background-color: #fff;
  color: #555;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #fdf2e9;
  /*Trick to add border inside*/
  box-shadow: inset 0 0 0 3px #fff;
}

.hero-img {
  width: 100%;
  border-radius: 2rem;
  width: 24rem;
}

.delivered-meals {
  display: flex;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 50%;
}

.section-bar {
  width: 102rem;
  margin: 0 auto;
  background-color: #e9b81e;
  text-align: center;
  padding: 1rem;
  margin-top: -2rem;
  position: relative;
  z-index: 10;
}

.bar-span {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #0e3c68;
}

.content-3 {
  height: 40rem;
}

.img-box {
  /* width: 32rem;
   height: 100%;
   background-image: url("../images/overview-3.png");
   background-size: cover;
   background-position: center;*/
}

.overview-img {
  width: 100%;
  z-index: 9;
}

.section-overview .container {
  background-color: #eef9fc;
  padding-right: 0;
}

.container-img-box {
  background-size: cover;
  background-position: center;
}

.supply-chain-1 {
  background-image: url("../images/img-1.jpg");
}

.finance-img {
  background-image: url("../images/finance-img-1.png");
}

.financial-planning-img {
  background-image: url("../images/financial-planning-1.png");
}

.economics-img {
  background-image: url("../images/economics-1.png");
}

.international-img {
  background-image: url("../images/international-1.png");
}

.marketing-1 {
  background-image: url("../images/marketing-1.png");
}

.accounting-1 {
  background-image: url("../images/accounting-1.png");
}

.mhr-1 {
  background-image: url("../images/mhr-1.png");
}

.container-img-box-2 {
  height: 32rem;
  background-image: url("../images/img-2.png");
  background-size: cover;
}

.container-img-box-3 {
  height: 32rem;
  background-image: url("../images/accounting-2.png");
  background-size: cover;
}

.container-img-box-4 {
  height: 32rem;
  background-image: url("../images/mhr-2.png");
  background-size: cover;
}

.color-highlight {
  color: #093f68;
}

.back-img {
  width: 114%;
  margin-left: -8rem;
  margin-bottom: 3.2rem;
}

/*# sourceMappingURL=main.css.map */
