//BACKGROUND COLORS from Open Colors

/*1. GRAY*/
.bg-gray-00 { background-color: #f8f9fa; } //Lightest
.bg-gray-02 { background-color: #e9ecef; } //Lighter
.bg-gray-04 { background-color: #ced4da; } //Light

.bg-gray-05 { background-color: #adb5bd; } //Dark
.bg-gray-07 { background-color: #495057; } //Darker
.bg-gray-09 { background-color: #212529; } //Darkest


//2. RED
.bg-red-00 { background-color: #fff5f5; } //Lightest
.bg-red-02 { background-color: #ffc9c9; } //Lighter
.bg-red-04 { background-color: #ff8787; } //Light

.bg-red-05 { background-color: #ff6b6b; } //Dark
.bg-red-07 { background-color: #f03e3e; } //Darker
.bg-red-09 { background-color: #c92a2a; } //Darkest

//3. PINK
.bg-pink-00 { background-color: #fff0f6; } //Lightest
.bg-pink-02 { background-color: #fcc2d7; } //Lighter
.bg-pink-04 { background-color: #f783ac; } //Light


.bg-pink-05 { background-color: #f06595; } //Primary
.bg-pink-07 { background-color: #d6336c; } //Dark
.bg-pink-09 { background-color: #a61e4d; } //Darker


// 4. GRAPE / ( MAGENTA / FUCHSIA ) Grape-Zabibu,
.bg-grape-00 { background-color: #f8f0fc; } //Lightest
.bg-grape-02 { background-color: #eebefa; } //Lighter
.bg-grape-04 { background-color: #da77f2; } //Light

.bg-grape-05 { background-color: #cc5de8; } //Dark
.bg-grape-07 { background-color: #ae3ec9; } //Darker
.bg-grape-09 { background-color: #862e9c; } //Darkest

.bg-magenta-00 { background-color: #f8f0fc; } //Lightest
.bg-magenta-02 { background-color: #eebefa; } //Lighter
.bg-magenta-04 { background-color: #da77f2; } //Light

.bg-magenta-05 { background-color: #cc5de8; } //Dark
.bg-magenta-07 { background-color: #ae3ec9; } //Darker
.bg-magenta-09 { background-color: #862e9c; } //Darkest

.bg-fuchsia-00 { background-color: #f8f0fc; } //Lighter
.bg-fuchsia-02 { background-color: #eebefa; } //Light
.bg-fuchsia-04 { background-color: #da77f2; } //Light

.bg-fuchsia-05 { background-color: #cc5de8; } //Dark
.bg-fuchsia-07 { background-color: #ae3ec9; } //Darker
.bg-fuchsia-09 { background-color: #862e9c; } //Darkest

//5. VIOLET /( PURPLE )(violet-Urujuani) (Purple-Zambarau)
.bg-violet-00 { background-color: #f3f0ff; } //Lightest
.bg-violet-02 { background-color: #d0bfff; } //Lighter
.bg-violet-04 { background-color: #9775fa; } //Light

.bg-violet-05 { background-color: #845ef7; } //Dark
.bg-violet-07 { background-color: #6D28D9; } //Darker
.bg-violet-09 { background-color: #4C1D95; } //Darkest

.bg-purple-00 { background-color: #f3f0ff; } //Lighter
.bg-purple-02 { background-color: #d0bfff; } //Light
.bg-purple-04 { background-color: #9775fa; } //Light

.bg-purple-05 { background-color: #845ef7; } //Dark
.bg-purple-07 { background-color: #7048e8; } //Darker
.bg-purple-09 { background-color: #5f3dc4; } //Darkest


//6. BLUE (Looks like Indigo - Open Colors) (Indigo - Nili, Bluu Iliyoiva)
.bg-blue-00 { background-color: #e7f5ff; } //Lightest
.bg-blue-02 { background-color: #a5d8ff; } //Lighter
.bg-blue-04 { background-color: #4dabf7; } //Light

.bg-blue-05 { background-color: #339af0; } //Dark
.bg-blue-07 { background-color: #1c7ed6; } //Darker
.bg-blue-09 { background-color: #1864ab; } //Darkest

//7. CYAN
.bg-cyan-00 { background-color: #e3fafc; } //Lightest
.bg-cyan-02 { background-color: #99e9f2; } //Lighter
.bg-cyan-04 { background-color: #3bc9db; } //Light

.bg-cyan-05 { background-color: #22b8cf; } //Dark
.bg-cyan-07 { background-color: #1098ad; } //Darker
.bg-cyan-09 { background-color: #0b7285; } //Darkest

//8. TEAL
.bg-teal-00 { background-color: #e6fcf5; } //Lightest
.bg-teal-02 { background-color: #96f2d7; } //Lighter
.bg-teal-04 { background-color: #38d9a9; } //Light

.bg-teal-05 { background-color: #20c997; } //Dark
.bg-teal-07 { background-color: #0ca678; } //Darker
.bg-teal-09 { background-color: #087f5b; } //Darkest

//9. GREEN
.bg-green-00 { background-color: #ebfbee; } //Lighter
.bg-green-02 { background-color: #b2f2bb; } //Light
.bg-green-04 { background-color: #69db7c; } //Light


.bg-green-05 { background-color: #51cf66; } //Dark
.bg-green-07 { background-color: #37b24d; } //Darker
.bg-green-09 { background-color: #2b8a3e; } //Darkest


//10. YELLOW
.bg-yellow-00 { background-color: #fff9db; } //Lightest
.bg-yellow-02 { background-color: #ffec99; } //Lighter
.bg-yellow-04 { background-color: #ffd43b; } //Light

.bg-yellow-05 { background-color: #fcc419; } //Dark
.bg-yellow-07 { background-color: #f59f00; } //Darker
.bg-yellow-09 { background-color: #e67700; } //Darkest

//11. ORANGE
.bg-orange-00 { background-color: #fff4e6; } //Lightest
.bg-orange-02 { background-color: #ffd8a8; } //Lighter
.bg-orange-04 { background-color: #ffa94d; } //Light

.bg-orange-05 { background-color: #ff922b; } //Dark
.bg-orange-07 { background-color: #f76707; } //Darker
.bg-orange-09 { background-color: #d9480f; } //Darkest

// 12. (I will add the twelfth bgcolor

//Extra colors
.bg-white {background-color: #fff}
.bg-black {background-color: #000}