.section-bar {
    //width: 104rem;
    //width: 102rem;
    //margin: 0 auto;
    background-color: #e9b81e;
    text-align: center;
    padding: 1rem;
    margin-top: -2rem;
    position: relative;
    z-index: 10;


}

.bar-span {
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #0e3c68;;
}