.content-3 {
  height: 40rem;
}

.img-box {
 /* width: 32rem;
  height: 100%;
  background-image: url("../images/overview-3.png");
  background-size: cover;
  background-position: center;*/
}

.img-3 {
  //background-image: url("../images/overview-3.png");
}

.overview-img-3 {
  //width: 120%;
}

.overview-img {
  //height: 100%;
  width: 100%;
  //transform: scale(1.1);
  z-index: 9;
  //overflow: hidden;
}

.section-overview {

  .container {
    background-color: #eef9fc;
    padding-right: 0;
  }
}

.container-text-box {

}

.container-img-box {
  background-size: cover;
  background-position: center;
}

.supply-chain-1 {
  background-image: url("../images/img-1.jpg");

}

.finance-img {
  background-image: url("../images/finance-img-1.png");

}
.financial-planning-img {
  background-image: url("../images/financial-planning-1.png");
}

.economics-img {
  background-image: url("../images/economics-1.png");
}

.international-img {
  background-image: url("../images/international-1.png");
}

.marketing-1 {
  background-image: url("../images/marketing-1.png");
}

.accounting-1 {
  background-image: url("../images/accounting-1.png");
}

.mhr-1 {
  background-image: url("../images/mhr-1.png");
}

.container-img-box-2 {
  height: 32rem;
  background-image: url("../images/img-2.png");
  background-size: cover;
}

.container-img-box-3 {
  height: 32rem;
  background-image: url("../images/accounting-2.png");
  background-size: cover;
}
.container-img-box-4 {
  height: 32rem;
  background-image: url("../images/mhr-2.png");
  background-size: cover;
}

.color-highlight {
  color: #093f68;
}

.back-img {
  width: 114%;
  margin-left: -8rem;
  margin-bottom: 3.2rem;
}